@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Defense of Data";
}

<div>
    <h1>Defense of Data</h1>
    <h4>Introduction</h4>
    <p>We take the defense of our users' data very seriously. We have implemented a number of measures to protect the personal information that you provide to us.</p>
    <h4>Data Encryption</h4>
    <p>All data transmitted to and from our website or app is encrypted using industry-standard protocols. This ensures that your personal information is protected from unauthorized access or disclosure.</p>
    <h4>Secure Server</h4>
    <p>Our servers are located in secure data centers and are protected by multiple layers of security. Only authorized personnel have access to our servers and the data stored on them.</p>
    <h4>Regular Security Audits</h4>
    <p>We regularly conduct security audits to ensure that our systems and processes are secure. These audits help us identify and address any vulnerabilities that may exist.</p>
    <h4>Data Backup</h4>
    <p>We maintain regular backups of all data stored on our servers to ensure that your information can be recovered in the event of a disaster or other emergency.</p>
    <h4>Contact Us</h4>
    <p>If you have any questions or concerns about the security of your personal information, please contact us at [email/phone]. We will be happy to assist you.</p>
</div>